<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the AI Chat</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenido a IA Salud Perú Chat</h1>
    </a>

        </header>

        <!-- Tutorial Section -->
        <section class="tutorial">
            <h2>Tutorial</h2>

            <div class="tutorial-section">
                <h3>Introducción</h3>
                <p>
                    Este trabajo es parte de una iniciativa para entrenar un modelo de inteligencia artificial que pueda asistir en responder consultas de salud y entender mejor las necesidades de la comunidad.
                </p>
                <p>
                    Puedes interactuar cuantas veces lo consideres necesario. Tu participación es crucial para el desarrollo de una herramienta beneficiosa.
                </p>
            </div>

            <div class="tutorial-section">
                <h3>Categorias</h3>
                <p>Las categorías de preguntas están diseñadas para cubrir un amplio espectro de consultas de salud, puedes preguntar todo lo que quisieras saber sobre estos temas:</p>
                
                <ul class="category-list">
                    <li><strong>Actividad física:</strong> Ejercicios cardiovasculares, entrenamiento de fuerza, flexibilidad, yoga y más.</li>
                    <li><strong>Alimentación saludable:</strong> Dietas para salud general, nutrición específica, suplementos y seguridad alimentaria.</li>
                    <li><strong>Salud mental y emocional:</strong> Estrategias de bienestar mental, manejo del estrés y más.</li>
                    <li><strong>Sueño:</strong> Tips para mejorar hábitos de sueño, información sobre trastornos del sueño, consejor para domir mejor.</li>
                    <li><strong>Consumo de sustancias:</strong> Consecuencias en la salud de alcohol y otras drogas, guias para dejar de fumar</li>
                    <li><strong>Prevención y control de enfermedades: </strong> Información sobre vacunas, manejo de enfermedades crónicas y primeros auxilios básicos </li>
                    <li><strong>Información sobre medicamentos y tratamientos: </strong> Guias de cómo tomar medicamentos de forma segura, tratamientos complementarios a los medicamentos. </li>
                    <li><strong>Salud infantil y del adolescente: </strong>Desarrollo en infancia y adolescencia, nutrición y manejo de problemas comunes en la infancia y adolescencia. </li>
                    <li><strong>Envejecimiento y Salud Geriátrica:</strong> Cuidados para la tercera edad, enfermedades relacionadas con la edad y consejos para un envejecimiento saludable.</li>
                </ul>
            </div>
            
        </section>
        <div class="chat-button-container">
            <a href="/chat">
                <button>Iniciar chat</button>
            </a>
        </div>        
    </div>
    <!--script type="module" src="/static/home.js"></script-->
</body>
</html>
